/.cache/
/.config
/.ipynb_checkpoints/
/.ipython/
/.jupyter
/.local/
.vscode-server/
/snap/
/WSL_Training/
/.bash_history
/.bash_logout
/.bashrc
/.lesshst
/.motd_shown
/.profile
/.python_history
/.sudo_as_admin_successful
/.wget-hsts